<div id="cart_tol">
  <h4 style="display:inline-block;">Cart(<%= current_cart.cartitems.size %>)</h4>
  <% if current_cart.cartitems.size > 0 %>
    <%= link_to 'View Cart', cart_path, class: "btn btn-primary pull-right" %>
  <% end %>
</div>
<hr>
<div id="cart_tol_p">
  <h4>Total: <%= current_cart.total_price %>$</h4> 
</div>
<div class="ca-info">
  <% current_cart.cartitems.each do |item| %>
    <%= image_tag item.product.image, class: "img-responsive center-block" %>
    <p><%= item.product.name %></p>
    <p><%= item.total_money %>$</p>
    <div style="display:inline-block;">
      <%= form_for(item, remote: true) do |f| %>
        <%= f.submit "-", class: "btn btn-default", style: "display:inline-block" %>

        <%= f.text_field :quantity, class: "form-len", style: "display:inline-block;text-align:center;"  %>
        
        <%= f.submit "+", class: "btn btn-default", style: "display:inline-block;" %>
      <% end %>
    </div>
    <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, cartitem_path(item), remote: true, method: :delete, data: {confirm:"確定移除該商品？"}, style: "display:inline-block;" %>
  <% end %> 
</div>
