<table class="table table-striped ">
  <thead>
    <tr>
      <th></th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% current_cart.cartitems.each do |item| %>
  <tr>
    <td><%= item.product.name %></td>
    <td><%= item.product.price %></td>
    <td>          
      <%= form_for(item, remote: true) do |f| %>
      <%= f.submit "-", class: "btn btn-default", style: "display:inline-block" %>

      <%= f.text_field :quantity, class: "form-len", style: "display:inline-block;text-align:center;"  %>
      
      <%= f.submit "+", class: "btn btn-default", style: "display:inline-block;" %>
      <% end %>
    </td>
    <td><%= item.total_money %>$</td>
    <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, cartitem_path(item), remote: true, method: :delete, data: {confirm:"確定移除該商品？"} %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><strong>Subtotal</strong></td>
    <td></td>
    <td><%= current_cart.total_price %>$</td>
    <td></td>
  </tr>
  </tbody>
</table>