<div class="container">
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
  <div class="row">
    <h2>Shopping List</h2>
    <div id="cart-t">
    <%= render partial: "shared/table" %>
    </div>
    <hr>
    <br>
      <h2>Shipping information</h2>
      <br>
      <div class="form col-md-4">
        <%= form_for @order do |f| %>
          <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :phone, "Phone" %>
            <%= f.text_field :phone, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, "Address" %>
            <%= f.text_field :address, class: "form-control" %>
          </div>
          <%= f.submit "Checkout", class: "btn btn-primary" %>
        <% end %>
      </div>

  </div>
</div>