<div class="container">
  <h1>購物網前台</h1>
  <div class="row">

    <div class="col-md-10" style="border-right: 1px solid grey;">

          <% @products.each do |product| %>
          <div class="col-sm-12 col- col-md-2">
            <div id="<%= product.id %>" >
              <%= image_tag product.image, class: "img-responsive center-block" %>
              <div class="caption">
                <h4><%= link_to product.name, product_path(product) %></h4>
                <p><%= truncate(product.description, length: 40) %></p>
                <p><%= product.price %>$</p>
                <button onclick="add_to_cart()" class="button">Add to Cart</button>
              </div>
            </div>
          </div>
        <% end %>
        
      <!-- 有generate kaminari paginate bootstrap style -->

    </div>

    <div class="col-md-2">
      <div id="cart">
      </div>
    </div>

  </div>
    <div class="text-center">
      <%= paginate @products %>
    </div>
</div>
<script>
  function add_to_cart() {
    var id = event.target.parentNode.parentNode.id;
    $.ajax({
      url: "addto_cart/",
      method: "GET",
      datatype: "json",
      data: {
        product_id: id
      },
      success: function(data){
      console.log(data);
      console.log("成功");
      $("#cart").append("<h4><%= @cart_product.name %></h4>");

      }
    });

  }

</script>