<div class="container">
  <br>
  <div class="row">

    <div class="col-md-10" style="border-right: 2px solid grey;">

          <% @products.each do |product| %>
          <div class="col-sm-4 col-md-2">
            <div class='product-item'>
              <div class="po-info1">
                <%= image_tag product.image, class: "img-responsive center-block" %>             
                <h4><%= link_to product.name, product_path(product) %></h4>
                <p><%= truncate(product.description, length: 40) %></p>
              </div>
              <div class="po-info2">
                <p><%= product.price %>$</p>
                <%= link_to 'Add to Cart', add_to_cart_product_path(product), class: "btn btn-primary", remote: true, method: :post %>
              </div> 
            </div>
          </div>
        <% end %>
        
      <!-- 有generate kaminari paginate bootstrap style -->
      <div class="text-center">
        <%= paginate @products %>
      </div>

    </div>

    <div class="col-md-2">
      <div id="cart">
        <% if current_cart.cartitems.size == 0 %>
            <div id="cart">
              <div id="cart_tol">
                <h4>Cart(0)</h4>
              </div>
              <hr>
              <div id="cart_tol_p">
                <h4>Total: 0$</h4>
              </div>
        <% else %>
          <%= render partial: "shared/cart" %>
        <% end %>
      </div>
    </div>

  </div>
 
</div>
<script type="text/javascript">


</script>